body{
    display: grid;
    /* grid-template-columns: 1fr;  */
    grid-auto-rows: auto 1fr;
    grid-template-areas: "header" "main_content" "footer";
    background:
    radial-gradient(circle, transparent 20%, rgb(206, 219, 233) 20%, rgb(206, 219, 233) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, rgb(206, 219, 233) 20%, rgb(206, 219, 233) 80%, transparent 80%, transparent) 18px 50px,
    linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, rgb(116, 146, 155) 8px, transparent 8px) -4px 0;
    background-color: rgb(161, 193, 202);
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
    font-family: "Helvetica"
    /* height: 100vh; */
}

header{
    grid-area: header;
    text-align: left;
}

#footer{
    grid-area: footer;
    text-align: center;
}

.main{
    grid-area: main_content;
    grid-template-areas: "content";
    text-align: center;
}

#contents{
    grid-area: content;
}
