body{
    display: grid;
    /* grid-template-columns: 1fr;  */
    grid-auto-rows: auto 1fr;
    grid-template-areas: "header" "main_content" "footer";
    background:
    radial-gradient(circle, transparent 20%, rgb(238, 221, 233) 20%, rgb(238, 221, 233) 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, rgb(238, 221, 233) 20%, rgb(238, 221, 233) 80%, transparent 80%, transparent) 18px 50px,
    linear-gradient(#f5f5f5 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, rgb(253, 253, 253) 8px, transparent 8px) -4px 0;
    background-color: rgb(248, 248, 248);
    background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;
    font-family: 'Quicksand', sans-serif;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 99vh;
    cursor: url('/week3/starcursor.cur'), auto;	
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

*{
    text-transform: lowercase;
}

a:hover {
    color: #e497bd;
    transition: 0.3s;
}

.avatar img {
    width: 100%;
    transition: 0.3s all ease-in-out;
}

.avatar:hover img {
    transform: scale(1.15);
}

header{
    grid-area: header;
    text-align: left;
    height:275px;
}

h1 {
    font-weight: bold;
    color: #e497bd;
    font-size: 40px;
  }

#footer{
    margin-top: 1em;
    grid-area: footer;
    text-align: center;
    height: 1vh;
}

.main{
    grid-area: main_content;
    grid-template-areas: "content";
    text-align: center;
}

.content{
    width: 90%;
    margin: 0 auto;
}

.leaflet-popup-content {
	text-align: center;
}

div.parent{
	text-align: center;
}

ul{ 
	display: inline-block; 
	text-align: left; 
}

#contents{
    grid-area: content;
}


#the_map{
    height: 50vh;
    text-align: center;
    border-radius: 20px;
    grid-area: main_map;
}

#my_grid{
    display: grid;
    grid-template-columns: .3fr .3fr;
    gap: 100px;
    justify-content: center;
}

#placeforbuttons button{
    background-color: #bbd8d4;
    border-radius: 6px;
    margin: 3px;
}

#placeforbuttons button:hover{
      background-color: #e497bd;
}

.navButton {
    display: inline-block;
    border-radius: 8px;
    background-color: #bbd8d4;
    border: none;
    color: #363636;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    width: 10%;
  }
  
  .navButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .navButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .navButton:hover span {
    padding-right: 25px;
  }
  
  .navButton:hover span:after {
    opacity: 1;
    right: 0;
  }

  .container {
    height: 50px;
    position: relative;
    margin:auto;
    padding: auto;
  }
  
  .center {
    text-align:center;
  }